@model CinemaWebApplication.ViewModels.ScreeningCRUDViewModel

@{
    ViewData["Title"] = "Create Screening";
}

<h2>Create Screening</h2>

<h4>Screening</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <select asp-for="MovieId" class="form-control" asp-items="ViewBag.MovieId"></select>
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScreeningTime" class="control-label"></label>
                <input asp-for="ScreeningTime" class="form-control" />
                <span asp-validation-for="ScreeningTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rows" class="control-label"></label>
                <input asp-for="Rows" class="form-control" />
                <span asp-validation-for="Rows" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatsPerRow" class="control-label"></label>
                <input asp-for="SeatsPerRow" class="form-control" />
                <span asp-validation-for="SeatsPerRow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
